<main class="contenedor">
  <div class="box-form">
    <form action="" method="">
        <div class="img-form">
            <img src="./assets/img/form-img3.png" alt="icon">
        </div>
        <div class="titulo-form">
            <h4>Sign Up</h4>
        </div>
        <div class="nombre">
            <label for="nombre">Name</label>
            <input type="text" name="nombre" id="nombre" placeholder="Name" required>
        </div>
        <div class="apellido">
            <label for="apellido">Lastname</label>
            <input type="text" name="apellido" id="apellido" placeholder="Lastname" required>
        </div>
        <div class="documento">
            <label for="documento">ID</label>
            <input type="number" name="documento" id="documento" placeholder="ID number" required>
        </div>
        <div class="provincia">
            <label for="provincia">State</label>
            <input type="text" name="provincia" id="provincia" placeholder="State" required>
        </div>
        <div class="ciudad">
            <label for="ciudad">City</label>
            <input type="text" name="ciudad" id="ciudad" placeholder="City" required>
        </div>
        <div class="direccion">
            <label for="ciudad">Address</label>
            <input type="text" name="direccion" id="direccion" placeholder="Address" required>
        </div>
        <div class="celular">
            <label for="celular">Cellphone</label>
            <input type="number" name="celular" id="celular" placeholder="Cellphone number" required>
        </div>
        <div class="correo">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="Email" required>
        </div>
        <div class="nombre-usuario">
            <label for="nombre-usuario">User name</label>
            <input type="text" name="nombre-usuario" id="nombre-usuario" placeholder="Create username" required>
        </div>
        <div class="password">
            <label for="pwd">Password</label>
            <input type="password" name="pwd" id="pwd" placeholder="Create password" required>
        </div>
        <div class="boton-enviar">
            <input type="submit" value="Sign Up">
        </div>
    </form>
</div>
</main>
