<header>
  <nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
          <i class="fas fa-bars"></i>
      </label>
      <a routerLink="/home/" class="enlace">
          <img src="../assets/img/logo.png" alt="" class="logo">
      </a>
      <ul>
          <li><a routerLink="/services/">Services</a></li>
          <li><a routerLink="/login/">Login</a></li>
          <li><a routerLink="/register/">Sign Up</a></li>
          <li><a routerLink="/contact/">Contact</a></li>
      </ul>
  </nav>
</header>
