<main class="contenedor-servicios">
  <h2>Our monthly plans</h2>
  <div class="box-servicio">
      <div class="card-servicio">
          <h4>Gold</h4>
          <h5>AR$150</h5>
          <p><i class="fa-solid fa-circle-check"></i> Geolocation Live Tracking</p>
          <p><i class="fa-solid fa-circle-check"></i> Emergency alerts to your contact network</p>
          <p><i class="fa-solid fa-circle-check"></i> Emergency alert to the nearest police station</p>
          <button class="btn-servicio">Subscribe</button>
      </div>
  </div>
  <div class="box-servicio">
      <div class="card-servicio servicio-recomendado">
          <h4>Diamond</h4>
          <h5>AR$300</h5>
          <p><i class="fa-solid fa-circle-check"></i> Geolocation Live Tracking</p>
          <p><i class="fa-solid fa-circle-check"></i> Emergency alerts to your contact network</p>
          <p><i class="fa-solid fa-circle-check"></i> Emergency alert to the nearest police station</p>
          <p><i class="fa-solid fa-circle-check"></i> Medical emergency services</p>
          <p><i class="fa-solid fa-circle-check"></i> Roadside assistance</p>
          <button class="btn-servicio btn-servicio-recomendado">Subscribe</button>
      </div>
  </div>
  <div class="box-servicio">
      <div class="card-servicio">
          <h4>Platinum</h4>
          <h5>AR$500</h5>
          <p><i class="fa-solid fa-circle-check"></i> Geolocation Live Tracking</p>
          <p><i class="fa-solid fa-circle-check"></i> Emergency alerts to your contact network</p>
          <p><i class="fa-solid fa-circle-check"></i> Emergency alert to the nearest police station</p>
          <p><i class="fa-solid fa-circle-check"></i> Medical emergency services</p>
          <p><i class="fa-solid fa-circle-check"></i> Roadside assistance</p>
          <p><i class="fa-solid fa-circle-check"></i> Legal assistance and on-call lawyers</p>
          <p><i class="fa-solid fa-circle-check"></i> Suicide and Trauma Counseling Helpline</p>
          <button class="btn-servicio">Subscribe</button>
      </div>
  </div>
</main>
