<main>
  <section class="content">
      <div class="box-uno">
        <h1>helpU - Your security assistant</h1>
        <p>
            Send an alert to your trusted contacts and the authorities if you find yourself in a dangerous
            situation. With helpU you only need your cell phone at hand.
        </p>
      </div>
      <div class="box-dos">
          <div class="box-imagen">
              <div class="box-circular">
                  <img src="./assets/img/gps-2798348_1920.png" alt="smartphone" width="400">
              </div>
          </div>
      </div>
  </section>
  <section class="instrucciones">
      <div class="titulo-instrucciones">
          <h3>Follow these steps</h3>
      </div>
      <div class="box-instrucciones">
        <div class="box-paso">
            <h4>01. Sign up</h4>
            <p>Register on our page with your data and download the app</p>
        </div>
        <div class="box-paso">
            <h4>02. Login</h4>
            <p>Log in with your data if this is the first time you use the app</p>
        </div>
        <div class="box-paso">
            <h4>03. Create your network</h4>
            <p>Add your trusted contacts to the app</p>
        </div>
        <div class="box-paso">
            <h4>04. Alert</h4>
            <p>When you are in danger just press the button and helpU will do everything else</p>
        </div>
    </div>
  </section>
</main>
